.bgcolor{
  background-color: #d5e7b5;
}

.Body {
  height: 100vh;
}

.Background {
  position: relative;
  transform: scale(1.6);
  top: 15vw;
  left: 650px;
  width: 100vw;
  height: 100vh;
}

.tabel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.6);
  border-collapse: collapse;
  width: 80vw;
  top: 410px;
  left: 620px;
  z-index: 20;
}

td, th {
  text-align: left;
  padding: 0.5vw 2.3vw;
}

.tambah {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  border-collapse: collapse;
  width: 120%;
  top: 210px;
  left: 1790px;
  z-index: 20;
}

td a {
  text-decoration: none;
  color: blue;
  padding: 2px 1px;
}

td a:hover {
  color: darkblue;
}
.judul{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.6);
  border-collapse: collapse;
  width: 80vw;
  top: 350px;
  left: 650px;
  z-index: 10;
}