.Background{
  position: relative;        
  width: 80%;                
  height: 500px;              
  background-size: cover;      
  background-position: left; 
  transform: scale(1.2);
  left: 10%; 
}
.text{
  position: absolute;
  left: 100px;    
}