.bgcolor{
    background-color: #d5e7b5;
  }

  .input {
    position: absolute;
    width: 80vw;       
    max-width: 200px;   
    height: 100%;      
    top: 600px;         
    left: 100px;      
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0 auto;    
    transform: scale(1); 
  }
     
        
